.cabecalho {
    position: fixed;
    width: 100%;
}

.rodape {
    position: absolute;
    bottom: 0;
    background-color: #f8f9fa;
    /*background-color: rgb(1, 122, 252);
    color: #FFF;*/
    color: blue;
    width: 100%;
    height: 40px;
    text-align: center;
}

body{
    background-color: #dddddd;
}