.cabecalho {
    position: absolute;
    width: 100%;
}

.rodape {
    position: absolute;
    bottom: 0;
    background-color: #f8f9fa;
    /*background-color: rgb(1, 122, 252);
    color: #FFF;*/
    color: blue;
    width: 100%;
    height: 40px;
    text-align: center;
}

.quadrado{
    background-color: #a4a5a6;
    width: 320px;
    padding: 20px;
    border: 10px solid rgb(0, 0, 0);
    margin: 50px;
    
}

body{
    background-color: #dddddd;
}

.row{
    justify-content: center;
}

