.cabecalho {
    position: absolute;
    width: 100%;
}

.rodape {
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
    color: blue;
    width: 100%;
    height: 30px;
    text-align: center;    
}

.quadrado{
    background-color: #a4a5a6;
    width: 320px;
    padding: 20px;
    border: 10px solid rgb(0, 0, 0);
    margin: 40px;
    border-radius: 30px;
    
}

body{
    background-color: #dddddd;
}

.flex{
    display: flex;
    align-items: center;
}

.row{
    justify-content: center;
    margin: 0;

}

